<div class="clearfix" style="margin-bottom:10px;">
	<span class="input-group" ng-if="model.css.hasOwnProperty('class')">
		<span class="input-group-addon">class</span>
		<input type="text" class="form-control" ng-model="model.css.class"/>
	</span>
	<span class="input-group" ng-if="model.css.hasOwnProperty('style')">
		<span class="input-group-addon">style</span>
		<input type="text" class="form-control" ng-model="model.css.style"/>
	</span>

	<!--  dimension  -->
	<span class="input-group" ng-if="model.css.hasOwnProperty('width')">
		<span class="input-group-addon">width</span>
		<input type="text" class="form-control" ng-model="model.css.width"/>
	</span>
	<span class="input-group" ng-if="model.css.hasOwnProperty('maxWidth')">
		<span class="input-group-addon">max-width</span>
		<input type="text" class="form-control" ng-model="model.css.maxWidth"/>
	</span>
	<span class="input-group" ng-if="model.css.hasOwnProperty('minWidth')">
		<span class="input-group-addon">min-width</span>
		<input type="text" class="form-control" ng-model="model.css.minWidth"/>
	</span>
	<span class="input-group" ng-if="model.css.hasOwnProperty('height')">
		<span class="input-group-addon">height</span>
		<input type="text" class="form-control" ng-model="model.css.height"/>
	</span>
	<span class="input-group" ng-if="model.css.hasOwnProperty('maxHeight')">
		<span class="input-group-addon">max-height</span>
		<input type="text" class="form-control" ng-model="model.css.maxHeight"/>
	</span>
	<span class="input-group" ng-if="model.css.hasOwnProperty('minHeight')">
		<span class="input-group-addon">min-height</span>
		<input type="text" class="form-control" ng-model="model.css.minHeight"/>
	</span>
	<!--  /dimension  -->


	<!--  positioning  -->
	<span class="input-group" ng-if="model.css.hasOwnProperty('display')">
		<span class="input-group-addon">display</span>
		<input type="text" class="form-control" ng-model="model.css.display"/>
	</span>
	<span class="input-group" ng-if="model.css.hasOwnProperty('float')">
		<span class="input-group-addon">float</span>
		<input type="text" class="form-control" ng-model="model.css.float"/>
	</span>
	<span class="input-group" ng-if="model.css.hasOwnProperty('position')">
		<span class="input-group-addon">position</span>
		<input type="text" class="form-control" ng-model="model.css.position"/>
	</span>
	<span class="input-group" ng-if="model.css.hasOwnProperty('top')">
		<span class="input-group-addon">top</span>
		<input type="text" class="form-control" ng-model="model.css.top"/>
	</span>
	<span class="input-group" ng-if="model.css.hasOwnProperty('right')">
		<span class="input-group-addon">right</span>
		<input type="text" class="form-control" ng-model="model.css.right"/>
	</span>
	<span class="input-group" ng-if="model.css.hasOwnProperty('bottom')">
		<span class="input-group-addon">bottom</span>
		<input type="text" class="form-control" ng-model="model.css.bottom"/>
	</span>
	<span class="input-group" ng-if="model.css.hasOwnProperty('left')">
		<span class="input-group-addon">left</span>
		<input type="text" class="form-control" ng-model="model.css.left"/>
	</span>
	<span class="input-group" ng-if="model.css.hasOwnProperty('verticalAlign')">
		<span class="input-group-addon">vertical-align</span>
		<input type="text" class="form-control" ng-model="model.css.verticalAlign"/>
	</span>
	<span class="input-group" ng-if="model.css.hasOwnProperty('overflow')">
		<span class="input-group-addon">overflow</span>
		<input type="text" class="form-control" ng-model="model.css.overflow"/>
	</span>
	<span class="input-group" ng-if="model.css.hasOwnProperty('visibility')">
		<span class="input-group-addon">visibility</span>
		<input type="text" class="form-control" ng-model="model.css.visibility"/>
	</span>
	<span class="input-group" ng-if="model.css.hasOwnProperty('zIndex')">
		<span class="input-group-addon">z-index</span>
		<input type="text" class="form-control" ng-model="model.css.zIndex"/>
	</span>
	<span class="input-group" ng-if="model.css.hasOwnProperty('clip')">
		<span class="input-group-addon">clip</span>
		<input type="text" class="form-control" ng-model="model.css.clip"/>
	</span> 
	<span class="input-group" ng-if="model.css.hasOwnProperty('cursor')">
		<span class="input-group-addon">cursor</span>
		<input type="text" class="form-control" ng-model="model.css.cursor"/>
	</span>
	<span class="input-group" ng-if="model.css.hasOwnProperty('clear')">
		<span class="input-group-addon">clear</span>
		<input type="text" class="form-control" ng-model="model.css.clear"/>
	</span>
	<!--  /positioning  -->



	<!--  margin  -->
	<span class="input-group" ng-if="model.css.hasOwnProperty('margin')">
		<span class="input-group-addon">margin</span>
		<input type="text" class="form-control" ng-model="model.css.margin"/>
	</span>
	<span class="input-group" ng-if="model.css.hasOwnProperty('marginTop')">
		<span class="input-group-addon">margin-top</span>
		<input type="text" class="form-control" ng-model="model.css.marginTop"/>
	</span>
	<span class="input-group" ng-if="model.css.hasOwnProperty('marginRight')">
		<span class="input-group-addon">margin-right</span>
		<input type="text" class="form-control" ng-model="model.css.marginRight"/>
	</span>
	<span class="input-group" ng-if="model.css.hasOwnProperty('marginBottom')">
		<span class="input-group-addon">margin-bottom</span>
		<input type="text" class="form-control" ng-model="model.css.marginBottom"/>
	</span>
	<span class="input-group" ng-if="model.css.hasOwnProperty('marginLeft')">
		<span class="input-group-addon">margin-left</span>
		<input type="text" class="form-control" ng-model="model.css.marginLeft"/>
	</span>
	<!--  /margin  -->

	<!--  padding  -->
	<span class="input-group" ng-if="model.css.hasOwnProperty('padding')">
		<span class="input-group-addon">padding</span>
		<input type="text" class="form-control" ng-model="model.css.padding"/>
	</span>
	<span class="input-group" ng-if="model.css.hasOwnProperty('paddingTop')">
		<span class="input-group-addon">padding-top</span>
		<input type="text" class="form-control" ng-model="model.css.paddingTop"/>
	</span>
	<span class="input-group" ng-if="model.css.hasOwnProperty('paddingRight')">
		<span class="input-group-addon">padding-right</span>
		<input type="text" class="form-control" ng-model="model.css.paddingRight"/>
	</span>
	<span class="input-group" ng-if="model.css.hasOwnProperty('paddingBottom')">
		<span class="input-group-addon">padding-bottom</span>
		<input type="text" class="form-control" ng-model="model.css.paddingBottom"/>
	</span>
	<span class="input-group" ng-if="model.css.hasOwnProperty('paddingLeft')">
		<span class="input-group-addon">padding-left</span>
		<input type="text" class="form-control" ng-model="model.css.paddingLeft"/>
	</span>
	<!--  /padding  -->

	<!--  border  -->
	<span class="input-group" ng-if="model.css.hasOwnProperty('border')">
		<span class="input-group-addon">border</span>
		<input type="text" class="form-control" ng-model="model.css.border"/>
	</span>
	<span class="input-group" ng-if="model.css.hasOwnProperty('borderWidth')">
		<span class="input-group-addon">border-width</span>
		<input type="text" class="form-control" ng-model="model.css.borderWidth"/>
	</span>
	<span class="input-group" ng-if="model.css.hasOwnProperty('borderStyle')">
		<span class="input-group-addon">border-style</span>
		<input type="text" class="form-control" ng-model="model.css.borderStyle"/>
	</span>
	<span class="input-group" ng-if="model.css.hasOwnProperty('borderColor')">
		<span class="input-group-addon">border-color</span>
		<input type="text" class="form-control" ng-model="model.css.borderColor"/>
	</span>


	<span class="input-group" ng-if="model.css.hasOwnProperty('borderTopWidth')">
		<span class="input-group-addon">border-top-width</span>
		<input type="text" class="form-control" ng-model="model.css.borderTopWidth"/>
	</span>
	<span class="input-group" ng-if="model.css.hasOwnProperty('borderTopStyle')">
		<span class="input-group-addon">border-top-style</span>
		<input type="text" class="form-control" ng-model="model.css.borderTopStyle"/>
	</span>
	<span class="input-group" ng-if="model.css.hasOwnProperty('borderTopColor')">
		<span class="input-group-addon">border-top-color</span>
		<input type="text" class="form-control" ng-model="model.css.borderTopColor"/>
	</span>
	<span class="input-group" ng-if="model.css.hasOwnProperty('borderRightWidth')">
		<span class="input-group-addon">border-right-width</span>
		<input type="text" class="form-control" ng-model="model.css.borderRightWidth"/>
	</span>
	<span class="input-group" ng-if="model.css.hasOwnProperty('borderRightStyle')">
		<span class="input-group-addon">border-right-style</span>
		<input type="text" class="form-control" ng-model="model.css.borderRightStyle"/>
	</span>
	<span class="input-group" ng-if="model.css.hasOwnProperty('borderRightColor')">
		<span class="input-group-addon">border-right-color</span>
		<input type="text" class="form-control" ng-model="model.css.borderRightColor"/>
	</span>
	<span class="input-group" ng-if="model.css.hasOwnProperty('borderBottomWidth')">
		<span class="input-group-addon">border-bottom-width</span>
		<input type="text" class="form-control" ng-model="model.css.borderBottomWidth"/>
	</span>
	<span class="input-group" ng-if="model.css.hasOwnProperty('borderBottomStyle')">
		<span class="input-group-addon">border-bottom-style</span>
		<input type="text" class="form-control" ng-model="model.css.borderBottomStyle"/>
	</span>
	<span class="input-group" ng-if="model.css.hasOwnProperty('borderBottomColor')">
		<span class="input-group-addon">border-bottom-color</span>
		<input type="text" class="form-control" ng-model="model.css.borderBottomColor"/>
	</span>
	<span class="input-group" ng-if="model.css.hasOwnProperty('borderLeftWidth')">
		<span class="input-group-addon">border-left-width</span>
		<input type="text" class="form-control" ng-model="model.css.borderLeftWidth"/>
	</span>
	<span class="input-group" ng-if="model.css.hasOwnProperty('borderLeftStyle')">
		<span class="input-group-addon">border-left-style</span>
		<input type="text" class="form-control" ng-model="model.css.borderLeftStyle"/>
	</span>
	<span class="input-group" ng-if="model.css.hasOwnProperty('borderLeftColor')">
		<span class="input-group-addon">border-left-color</span>
		<input type="text" class="form-control" ng-model="model.css.borderLeftColor"/>
	</span>
	<!--  /border  -->

	<!--  outline  -->
	<span class="input-group" ng-if="model.css.hasOwnProperty('outline')">
		<span class="input-group-addon">outline</span>
		<input type="text" class="form-control" ng-model="model.css.outline"/>
	</span>
	<span class="input-group" ng-if="model.css.hasOwnProperty('outlineWidth')">
		<span class="input-group-addon">outline-width</span>
		<input type="text" class="form-control" ng-model="model.css.outlineWidth"/>
	</span>
	<span class="input-group" ng-if="model.css.hasOwnProperty('outlineStyle')">
		<span class="input-group-addon">outline-style</span>
		<input type="text" class="form-control" ng-model="model.css.outlineStyle"/>
	</span>
	<span class="input-group" ng-if="model.css.hasOwnProperty('outlineColor')">
		<span class="input-group-addon">outline-color</span>
		<input type="text" class="form-control" ng-model="model.css.outlineColor"/>
	</span>
	<!--  /outline  -->

	<!--  table  --> 
	<span class="input-group" ng-if="model.css.hasOwnProperty('borderCollapse')">
		<span class="input-group-addon">border-collapse</span>
		<input type="text" class="form-control" ng-model="model.css.borderCollapse"/>
	</span>
	<span class="input-group" ng-if="model.css.hasOwnProperty('borderSpacing')">
		<span class="input-group-addon">border-spacing</span>
		<input type="text" class="form-control" ng-model="model.css.borderSpacing"/>
	</span>
	<span class="input-group" ng-if="model.css.hasOwnProperty('captionSide')">
		<span class="input-group-addon">caption-side</span>
		<input type="text" class="form-control" ng-model="model.css.captionSide"/>
	</span>
	<span class="input-group" ng-if="model.css.hasOwnProperty('emptyCells')">
		<span class="input-group-addon">empty-cells</span>
		<input type="text" class="form-control" ng-model="model.css.emptyCells"/>
	</span>
	<span class="input-group" ng-if="model.css.hasOwnProperty('tableLayout')">
		<span class="input-group-addon">table-layout</span>
		<input type="text" class="form-control" ng-model="model.css.tableLayout"/>
	</span>
	<!--  /table  -->


	<!--  font  -->
	<span class="input-group" ng-if="model.css.hasOwnProperty('font')">
		<span class="input-group-addon">font</span>
		<input type="text" class="form-control" ng-model="model.css.font"/>
	</span>
	<span class="input-group" ng-if="model.css.hasOwnProperty('fontStyle')">
		<span class="input-group-addon">font-style</span>
		<input type="text" class="form-control" ng-model="model.css.fontStyle"/>
	</span>
	<span class="input-group" ng-if="model.css.hasOwnProperty('fontVariant')">
		<span class="input-group-addon">font-variant</span>
		<input type="text" class="form-control" ng-model="model.css.fontVariant"/>
	</span>
	<span class="input-group" ng-if="model.css.hasOwnProperty('fontWeight')">
		<span class="input-group-addon">font-weight</span>
		<input type="text" class="form-control" ng-model="model.css.fontWeight"/>
	</span> 
	<span class="input-group" ng-if="model.css.hasOwnProperty('fontSize')">
		<span class="input-group-addon">font-size</span>
		<input type="text" class="form-control" ng-model="model.css.fontSize"/>
	</span>
	<span class="input-group" ng-if="model.css.hasOwnProperty('fontSizeAdjust')">
		<span class="input-group-addon">font-size-adjust</span>
		<input type="text" class="form-control" ng-model="model.css.fontSizeAdjust"/>
	</span>
	<span class="input-group" ng-if="model.css.hasOwnProperty('fontStretch')">
		<span class="input-group-addon">font-stretch</span>
		<input type="text" class="form-control" ng-model="model.css.fontStretch"/>
	</span>
	<span class="input-group" ng-if="model.css.hasOwnProperty('fontFamily')">
		<span class="input-group-addon">font-family</span>
		<input type="text" class="form-control" ng-model="model.css.fontFamily"/>
	</span>
	<!--  /font  -->


	<!--  text  -->
	<span class="input-group" ng-if="model.css.hasOwnProperty('color')">
		<span class="input-group-addon">color</span>
		<input type="text" class="form-control" ng-model="model.css.color"/>
	</span>
	<span class="input-group" ng-if="model.css.hasOwnProperty('lineHeight')">
		<span class="input-group-addon">line-height</span>
		<input type="text" class="form-control" ng-model="model.css.lineHeight"/>
	</span>
	<span class="input-group" ng-if="model.css.hasOwnProperty('textAlign')">
		<span class="input-group-addon">text-align</span>
		<input type="text" class="form-control" ng-model="model.css.textAlign"/>
	</span>
	<span class="input-group" ng-if="model.css.hasOwnProperty('textDecoration')">
		<span class="input-group-addon">text-decoration</span>
		<input type="text" class="form-control" ng-model="model.css.textDecoration"/>
	</span>
	<span class="input-group" ng-if="model.css.hasOwnProperty('textIndent')">
		<span class="input-group-addon">text-indent</span>
		<input type="text" class="form-control" ng-model="model.css.textIndent"/>
	</span>
	<span class="input-group" ng-if="model.css.hasOwnProperty('textShadow')">
		<span class="input-group-addon">text-shadow</span>
		<input type="text" class="form-control" ng-model="model.css.textShadow"/>
	</span>
	<span class="input-group" ng-if="model.css.hasOwnProperty('textTransform')">
		<span class="input-group-addon">text-transform</span>
		<input type="text" class="form-control" ng-model="model.css.textTransform"/>
	</span>
	<span class="input-group" ng-if="model.css.hasOwnProperty('wordSpacing')">
		<span class="input-group-addon">word-spacing</span>
		<input type="text" class="form-control" ng-model="model.css.wordSpacing"/>
	</span>
	<span class="input-group" ng-if="model.css.hasOwnProperty('whiteSpace')">
		<span class="input-group-addon">white-space</span>
		<input type="text" class="form-control" ng-model="model.css.whiteSpace"/>
	</span>
	<span class="input-group" ng-if="model.css.hasOwnProperty('unicodeBidi')">
		<span class="input-group-addon">unicode-bidi</span>
		<input type="text" class="form-control" ng-model="model.css.unicodeBidi"/>
	</span>
	<span class="input-group" ng-if="model.css.hasOwnProperty('direction')">
		<span class="input-group-addon">direction</span>
		<input type="text" class="form-control" ng-model="model.css.direction"/>
	</span> 
	<!--  /text  -->


	<!--  listStyle  -->
	<span class="input-group" ng-if="model.css.hasOwnProperty('listStyle')">
		<span class="input-group-addon">list-style</span>
		<input type="text" class="form-control" ng-model="model.css.listStyle"/>
	</span>
	<span class="input-group" ng-if="model.css.hasOwnProperty('listStyleType')">
		<span class="input-group-addon">list-style-type</span>
		<input type="text" class="form-control" ng-model="model.css.listStyleType"/>
	</span>
	<span class="input-group" ng-if="model.css.hasOwnProperty('listStyleImage')">
		<span class="input-group-addon">list-style-image</span>
		<input type="text" class="form-control" ng-model="model.css.listStyleImage"/>
	</span>
	<span class="input-group" ng-if="model.css.hasOwnProperty('listStylePosition')">
		<span class="input-group-addon">list-style-position</span>
		<input type="text" class="form-control" ng-model="model.css.listStylePosition"/>
	</span>
	<!--  /listStyle  -->

	 
	<!--  background  -->
	<span class="input-group w1" ng-if="model.css.hasOwnProperty('background')">
		<span class="input-group-addon">background</span>
		<input type="text" class="form-control" ng-model="model.css.background"/>
		<span class="input-group-btn">
			<button class="btn btn-default" type="button" ng-click="$root.Imager.choose(model)" data-toggle="modal" data-target="#modalImage">选择图片</button>
		</span>
	</span> 
	<span class="input-group" ng-if="model.css.hasOwnProperty('backgroundAttachment')">
		<span class="input-group-addon">background-attachment</span>
		<input type="text" class="form-control" ng-model="model.css.backgroundAttachment"/>
	</span>
	<span class="input-group" ng-if="model.css.hasOwnProperty('backgroundColor')">
		<span class="input-group-addon">background-color</span>
		<input type="text" class="form-control" ng-model="model.css.backgroundColor"/>
	</span>
	<span class="input-group" ng-if="model.css.hasOwnProperty('backgroundImage')">
		<span class="input-group-addon">background-image</span>
		<input type="text" class="form-control" ng-model="model.css.backgroundImage"/>
	</span>
	<span class="input-group" ng-if="model.css.hasOwnProperty('backgroundPosition')">
		<span class="input-group-addon">background-position</span>
		<input type="text" class="form-control" ng-model="model.css.backgroundPosition"/>
	</span>
	<span class="input-group" ng-if="model.css.hasOwnProperty('backgroundRepeat')">
		<span class="input-group-addon">background-repeat</span>
		<input type="text" class="form-control" ng-model="model.css.backgroundRepeat"/>
	</span>


	<!--	Css3
	<span class="input-group" ng-if="model.css.hasOwnProperty('backgroundClip')">
		<span class="input-group-addon">background-clip</span>
		<input type="text" class="form-control" ng-model="model.css.backgroundClip"/>
	</span>
	<span class="input-group" ng-if="model.css.hasOwnProperty('backgroundOrigin')">
		<span class="input-group-addon">background-origin</span>
		<input type="text" class="form-control" ng-model="model.css.backgroundOrigin"/>
	</span>
	<span class="input-group" ng-if="model.css.hasOwnProperty('backgroundSize')">
		<span class="input-group-addon">background-size</span>
		<input type="text" class="form-control" ng-model="model.css.backgroundSize"/>
	</span> 
	-->
	<!--  /background  -->
</div>