<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/t.css"/>
    <script src="struct.js"></script>
</head>
<body>
    <fieldset class="l-layout-container">
        <!--元件栏-start-->
        <fieldset class="l-layout-left">
            <legend>元件</legend>
            <!--单个元件-start-->
            <div class="l-unit-container t-unit-drag">
                <div class="l-layout-container l-layout-right">
                    <span class="t-unit-drag-btn">拖动</span>
                </div>
                <div class="l-layout-center">
                    测试元件1
                </div>
            </div>
            <!--单个元件-end-->
            <!--单个元件-start-->
            <div class="l-unit-container t-unit-drag">
                <div class="l-layout-container l-layout-right">
                    <span class="t-unit-drag-btn">拖动</span>
                </div>
                <div class="l-layout-center">
                    测试元件2
                </div>
            </div>
            <!--单个元件-end-->
            <!--单个元件-start-->
            <div class="l-unit-container t-unit-drag">
                <div class="l-layout-container l-layout-right">
                    <span class="t-unit-drag-btn">拖动</span>
                </div>
                <div class="l-layout-center">
                    测试元件3
                </div>
            </div>
            <!--单个元件-end-->
        </fieldset>
        <!--元件栏-end-->
        <!--工具栏-start-->
        <!--<fieldset class="l-layout-right">-->
            <!--<legend>工具</legend>-->
            <!--<div class="l-tool-container">-->

            <!--</div>-->
        <!--</fieldset>-->
        <!--工具栏-end-->
        <!--实体栏-start-->
        <fieldset class="l-layout-center">
            <legend>实体</legend>
            <div class="l-entity-container l-unit-container">

            </div>
        </fieldset>
        <!--实体栏-end-->
    </fieldset>
</body>
</html>