<!--  生成页Html模板  -->
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
	&lt;meta charset="utf-8"/&gt;
	&lt;title&gt;{{main.title}}&lt;/title&gt;
	&lt;style type="text/css"&gt;
		*{
			margin:0;
			padding:0;
		}
		.module{
			display: block;
			position: relative;
			background-repeat: no-repeat;
			background-position: center top !important;
		}
		.main{ 
			{{ $root.cssFilter(main.css) }}
		}
		<div id="banner" ng-if="banner.use">
		.banner{ 
			{{ $root.cssFilter(banner.css) }}
		}
		</div>
		<div ng-repeat="module in rootModule.children" ng-if="module.use && module.css">
		.m-{{module.id}}{ 
			{{ $root.cssFilter(module.css) }}
		}
			<div ng-repeat="child in module.children" ng-if="child.use && child.css">
		.m-{{module.id}} .c-{{child.id}}{
			{{ $root.cssFilter(child.css) }}
		}
			</div>
		</div> 
	&lt;/style&gt;
&lt;/head&gt;
&lt;body&gt;
	<div id="banner" ng-if="banner.use">
	&lt;div class="banner {{banner.css.class}}"&gt;&lt;/div&gt;
	</div>
	<div id="main">
	&lt;div class="main {{main.css.class}}"&gt;
		<div ng-repeat="module in rootModule.children" ng-if="module.use">
		&lt;div class="module {{module.css.class}} m-{{module.id}} "&gt;
			<div ng-repeat="child in module.children" ng-if="child.use">
			&lt;div class="{{child.css.class}} c-{{child.id}} "&gt;
				{{$root.compile(child)}}
			&lt;/div&gt;
			</div>
		&lt;/div&gt;
		</div>
	&lt;/div&gt;
	</div>
&lt;/body&gt;
&lt;/html&gt;
<!--  /生成页Html模板  -->