<div class="modal fade bs-example-modal-lg" id="modalTemplate-{{model.id}}" tabindex="-1" role="dialog" aria-labelledby="modalTemplateTitle" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h5 class="modal-title" id="modalTemplateTitle">{{model.title}} - 模板</h5>
			</div>
			<div class="modal-body clearfix" style="font-family:Tahoma">  
				<!--
					<span class="input-group w1">
						<span class="input-group-addon">Css参数</span>
						<input type="text" class="form-control"/>
					</span> 
					<span class="input-group w1">
						<span class="input-group-addon">参数</span>
						<input type="text" class="form-control" />
					</span> 
				--> 
					<span class="input-group w1">
						<span class="input-group-addon">模板名称</span>
						<input type="text" class="form-control" ng-model="model.title"/>
					</span>  
					<span class="input-group w1">
						<span class="input-group-addon">样式</span>
						<textarea class="form-control" rows="10" cols="30" ng-model="model.styleText" ng-blur="resetStyle()"></textarea> 
					</span>  
					<span class="input-group w1">
						<span class="input-group-addon">代码</span>
						<textarea class="form-control" rows="20" cols="30" ng-model="model.code" ng-blur="$root.resetParameters(model)"></textarea> 
					</span>   
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">确定</button>
			</div>
		</div>
	</div>
</div>