/* reset */
*{margin:0;padding:0;}
body{font-size:62.5%;}
textarea{font-family:'';overflow:hidden;}
/* /reset */

/* common */
body{padding:15px;font-family:Consolas, Microsoft YaHei;}
input,textarea,button{font-family:Consolas, Microsoft YaHei;font-size:1em;}
input,textarea,button:focus{outline: none;}
fieldset{margin-bottom:15px;padding:15px;border:1px solid #ccc;border-radius:5px;}
fieldset legend{padding:0 15px;} 

/* /common */

/* form */
.y-box, .y-form{font-size:1.6em;}
.y-form .y-select{position:relative;margin-left:-0em;padding-right:1em;display:inline-block;width:3em;height:1em;line-height: 1em;} 
.y-form .y-select-option{position:absolute;left:0;display:inline-block;width:85%;text-align:center;}
.y-form img.y-select-img{width:12%;position:absolute;right:0;top:40%;}
.y-form img.y-checkbox-img{width:1em;padding-right:5px;margin-bottom:-2px;}
.y-form .y-checkbox-list{margin-top:-10px;}
.y-form .y-checkbox-list label{width:45%;display:inline-block;margin-top:10px;}

.y-mask{width:100%;height:100%;background-color:rgba(0,0,0,0.6);display:none;position:fixed;top:0;left:0;z-index:9999;}
.y-mask-main{width:80%;margin-left:auto;margin-right:auto;}
.y-mask-main-select{background-color:#fcfcfc;border-bottom:1px solid #ccc;padding:1em;text-align:center;opacity:1;}

.y-form .y-button, .y-form input[type=button], .y-form button{padding:0.5em 1em;margin-bottom:1px;border:0;border-radius:5px;color:#666;background-color:#eaeaea;cursor:pointer;text-decoration:none;white-space: nowrap;display:inline-block;}
.y-form .y-button:hover, .y-form input[type=button]:hover, .y-form button:hover{background-color:#ccc;}

.y-form input[type=text],.y-form textarea{padding:0.5em;border:1px solid #ccc;border-radius:5px;}

/* /form */
 