/*基本样式重置*/
html,body,div,span,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,address,big,cite,code,del,em,font,img,ins,small,strong,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend{margin:0;padding:0;border: 0;outline: 0;font-size:100%;}
ol,ul{list-style:none;}
:focus{outline:0;}
table {border-collapse: collapse;border-spacing: 0;}
a img{border:0;}
img{vertical-align:middle;}
del {text-decoration: line-through;}
em {font-style: normal;}

/*默认链接样式*/
a:link, a:visited {color: rgb(102, 102, 102);text-decoration: none;}
a:hover {color: rgb(228, 57, 60);text-decoration: underline;cursor: pointer;}
a:active {color: rgb(153, 0, 0);}

/*间隔样式*/
.mgt10{margin-top:10px !important;}
.mgt15{margin-top:15px !important;}
.mgt20{margin-top:20px !important;}
.mg10{margin:10px;}
.mg15{margin:15px;}
.mg20{margin:20px;}
.ml5{margin-left:5px;}
.mr5{ margin-right:5px;}	
.mr10{margin-right:10px;}
.mr20{margin-right:20px;}
.ml10{margin-left:10px;}
.mgb10{margin-bottom:10px !important;}
.mgb15{margin-bottom:15px !important;}
.mb10{margin-bottom:10px !important;}			
.mgb20{margin-bottom:20px !important;}
.mb20{margin-bottom:20px !important;}		
.mgb10,.mgb20{overflow:hidden;}
.padl-90{padding-left:90px;}	
.padl-210{padding-left:210px;}
.padl-220{padding-left:220px;}
.padl-180{padding-left:180px;}
.pad-top40{ padding-top:40px;}
.pad-tb15{ padding:15px 0 !important;}
.pad-lr15{ padding:0 15px !important;}
.pad-trbl30{padding:30px !important;}
/*边框线设置实线solid、虚线dashed以此类推*/	
.bordb-solid2{border-bottom: 2px solid #E25951 !important;}
.bordb-dashed2{border-bottom: 2px dashed #E25951 !important;}
	
/*文字对齐 xy*/
.t-centre {text-align: center;}
.t-left {text-align: left;}
.t-right {text-align: right;}

/*字体字号设置 xy*/
body {color:rgb(102, 102, 102);font: 12px/150% Arial,Verdana;}
h1{font:20px "microsoft yahei";}
h2{display: none;}
h3{font:16px "microsoft yahei";}
h4{font:15px "microsoft yahei";}
h5, h6 {font-size: 12px;}
.f-12{font-size:12px;}
.f-14{font-size:14px;}
.f-16{font-size:16px;}
.f-18{font-size:18px !important;font-family:'Microsoft Yahei';}
p {line-height:1.5em;}

/*重置文本编辑器内置h2*/
.detail-content h2 , .store-notice h2{display:inline-block;}

/*浮动设置*/
.fl{ float:left; display:inline;}
.fr{float:right; display:inline;}
.lh li, .lh dl, .lh .item , .title-d h4, .title-d h3{float: left;}
.form label, .form input, .form select, .form textarea, .form button, .form .label {float: left;}	

/*清除浮动*/
.clearfix:after{clear: both;content: ".";display: block;height: 0;visibility: hidden;}
*html .clearfix{height:1%;}
.clearfix{display:inline-block;}
.clearfix{display:block;}
	/* ie7 hack*/
*+html .clearfix {min-height: 1% ;}
.clr {clear: both;display: block;font-size: 0;height: 0;line-height: 0;   overflow: hidden;}/*当 clearfix 清浮动层次过多失效时，在容器底部加<br class="clr" /> */

/*框架宽度*/
#main{width:990px;}
#sidebarl{width:210px;}
.w890{
	width:890px;
	}
.w310{
	width:310px;
	}
.w860{
	width:860px;}
.w330{
	width:330px;
	}	
.wrapper{width:1210px;margin:0px auto;}
.in-wrapper{width:990px;}
.in-wrapper2{width:730px !important;overflow:hidden;}
.in-wrapper3{width:1030px;overflow:hidden;z-index:1;}
.sidebarr{width:250px;overflow:hidden;display:inline;}			

/*定位控制*/	
.ld {position: relative; zoom:1;} /*外部容器*/
.ld s, .ld b, .ld .block {
	overflow: hidden;
	position: absolute;
	font-weight: normal;
	top: 54px;
	left: 577px;
} /*绝对定位标签 s ; b ; .block */
.cy4 label {width: 24%;display: inline-block;} /*分四列*/

/*栏目标题*/
.m1 .mt, .m2 .mt, .sm1 .smt, .sm2 .smt {
	border-bottom: 1px solid #dddbdc;
	height: 16px;
	line-height: 16px;
	padding: 7px 0;
}	
.m, .mt, .mc, .mb, .sm, .smt, .smc, .smb {
	overflow: hidden;
}
.mt h2, .smt h3{
	font-family: "microsoft yahei";
	font-weight:normal;
	}
.m2 .mt, .sm2 .smt {
	position: absolute;
	text-align: center;
	top: 0;
}
.m2 .mc, .sm2 .smc{
	display:none;}		
.m, .sm {
	margin-bottom: 10px !important;
}
/*栏目*/
.m1 .mt, .m2 .mt, .sm1 .smt, .sm2 .smt {
	border-bottom: 1px solid #dddbdc;
	height: 16px;
	line-height: 16px;
	padding: 7px 0;
}	
.m, .mt, .mc, .mb, .sm, .smt, .smc, .smb {
	overflow: hidden;
}
.mt h2, .smt h3{
	font-family: "microsoft yahei";
	font-weight:normal;
	}
.m2 .mt, .sm2 .smt {
	position: absolute;
	text-align: center;
	top: 0;
}
.m2 .mc, .sm2 .smc{
	display:none;}		
.m, .sm {
	margin-bottom: 10px !important;
}
/*显示控制*/
.visb{overflow:visible !important;}
.disb{display:block !important;}
div.disinb{display:inline-block!important;}	
.p-img,.p-name.p-price{overflow:hidden;} 
.hisb{display:none;}

/*产品显示*/
.p-img{text-align:center;}
.p-name {margin-bottom: 2px;}

/*价格标签*/
.p-price span{color:#cc0000;font-size:16px;}
.p-price {font-size: 12px;}
.p-price .p-em{font-size:12px; font-weight:normal;}
.p-price .p-sige{font-size:12px;}

/*高度设置(多用于占位间隔框高度设定)*/
.ht_10{height:10px;overflow:hidden;}
.ht_11{height:11px;overflow:hidden;}
.ht_12{height:12px;overflow:hidden;}
.ht_13{height:13px;overflow:hidden;}
.ht_24{height:24px;overflow:hidden;}
.ht_28{height:28px;overflow:hidden;}

/*栏目设置*/
	
.col_l{width:210px;}
.col_l .mt{height:40px;	padding:0px;}
.col_l .mt h3{font-size:18px;line-height:24px;font-size:22px;font-weight:normal;color:#bd0600;position:absolute;bottom:10px;left:12px;}	
.col_l .mc {position: relative;overflow:visible;}
.col_l .style1 ul {padding:7px 5px 15px;}
.col_l .style1 li {width: 99px;}
.col_l li {height: 24px;line-height: 24px;overflow: hidden;vertical-align: bottom;}

.col_c .fore1 .smt{left:0;}
.col_c .fore2 .smt{left:197px;}	
.col_c .fore3 .smt{left:394px;}
.col_c .fore4 .smt{left:591px;}	
.col_c .style3 .fore1, .col_c .style3 .fore2, .col_c .style3 .fore3, .col_c .style3 .fore4 {border-top:none;}
.col_c .style3 .fore4, .col_c .style3 .fore8 {border-right:none;}
.col_c .style3 li {height: 163px;width: 176px;}
.col_c .smt{width:197px;height:40px;padding:0;}
.col_c .smt h3{line-height:38px;}
.col_c .smc li {border-right: 1px dashed #f0f0f0;border-top: 1px solid #dddbdc;overflow: hidden;position:relative;padding: 5px 10px 0;}
.col_c .smc li b.b1{right:0px;bottom:0px;}
.col_c .smc li b.b2{background-position:0 -45px;right:0px;bottom:0px;}
.col_c .smc li b.b3{background-position:0 -90px;right:0px;bottom:0px;}			
.col_c .smc{position: relative;}
	
.col_c{width:798px;position:relative;}
.col_r{width:200px;}
.col_r .smt{height:40px;border-bottom:1px solid #DDDBDC;}
	
.col_r .brands .smt h3{
	line-height:38px;
	padding-left:26px;
	/*background:url(../images/jbh3_10.jpg) 3px 12px no-repeat;*/
	font-size:14px;
	}
.col_r .brands .smc ul li{
	width:104px;
	height:50px;
	padding-top:5px;
	text-align:center;}
.col_r .brands .fore2,.col_r .brands .fore4,.col_r .brands .fore6{
	border-right:none;}
.col_r .brands .fore5,.col_r .brands .fore6{
	border-bottom:none;
	}
	

/*标题样式*/
.bold{font-weight: 700;} /*加粗字体*/
.title-a , .wk-a , .wk-b{padding: 8px 10px;}
.title-b {padding: 20px;line-height: 150%;}
.title-c {padding: 8px 10px;text-align: center;}
.title-d {padding: 8px 10px;}
.title-d h4 {margin-left: 10px;color: #F60;}
.title-e{height: 56px; line-height: 56px;  border-bottom: 3px solid #a83036; text-align: center;}
.title-e h3{font-weight: 700; line-height: 56px;}
/*mini商城的title样式*/
.title-1{padding: 8px 25px; border-bottom: 2px solid #d75249;}
.title-1 h3{font: bold 18px/100% 'Microsoft YaHei'; color:#fff;}

.title-2{padding: 11px 18px; border-bottom: 1px solid #dcdee2;}
.title-2 h3{
	font: 16px/100% 'Microsoft YaHei';
	color: #666;
}

.title-3{padding: 10px 25px; border: 1px solid #e3daca;}
.title-3 h3{font: 12px/100% 'Microsoft YaHei'; color:#333;}

 /*mini商城的title样式*/
/*边线 xy*/
.line-b-none{ border-bottom:none !important;}
.line-t{border-top: 1px solid #CCCCCC;} /*上边线*/
.line-b{border-bottom: 1px solid #CCCCCC;}/*下边线*/
.line-l{border-left: 1px solid #CCCCCC;} /*左边线*/
.line-r{border-right: 1px solid #CCCCCC;}/*右边线*/
.line-xb li, .line-xb dd , .line-xb td , div.line-x{border-bottom: 1px dashed #CCCCCC;padding:10px 0px;}/*虚线下边线*/
.wk-a{border-right: 1px solid #CCC;	border-bottom: 1px solid #CCC;border-left: 1px solid #CCC;} /*无上边线*/
.wk-b{border:1px solid #CCCCCC;} /*边线*/
.bord_ccc{border:1px solid #CCCCCC;}
.bord_r{border-right:1px solid #dddbdc;}
.bord_re{border-right:1px solid #eee;}
.bord-d2d{border: 1px solid #d2d5db;}
.bord-d2d-b{border-bottom: 1px solid #d2d5db}

/*字体颜色xy*/  
.color-main{color:#a83036;}                                       /*主颜色*/                                                                          
/*白色*/
.color01{
	color:#FFF !important;
	}		
/*橙色*/
.color02{
	color:#F96 !important;
	}
/*绿色*/	
.color03{
	color:#0000ff !important;
	}
/*蓝色*/	
.color04{
	color:#0099FF !important;
	}
/*红色*/	
.color05{
	color:#FF0000 !important;
	}	
/*颜色xy*/ 
.color0000FF{color:#0000FF !important;}                                                 /*颜色为#0000FF的字体*/

.colorfff{color:#fff !important;} 

.color-bmain{background:#a83036;}                /*主背景颜色*/
.color-b1{background: #CC3333;color: #FFF;border-width: 0px;border-style: none;}/*深色无边*/
.color-b1a{background: #f9f9f9;border-width: 0px;border-style: none;}/*浅色无边*/
.color-b2{background: #F1F3F5;border: 1px solid #ccc;}/*浅色有边*/
.color-b3{background: #FDFDE6;border: 1px solid #ccc; color: #333;}/*浅亮色有边*/

.color-b4{background:#e2e5ec; }
.color-b5{background:#f0f2f6;}
.color-b6{background:#ca363d;}
.color-b7{background:#fbfdff;} /*浅亮色无边*/
.s-color{color:#e8322b;}
.s-color2{color:#e25951;}
.s-color3{color:#268cc6 !important;}
.b-color{background:#dddbdc;}
/*mini商城颜色*/
.color_mini{color: #ff776f !important;}  /*淡红色*/
.color_e84{color: #e84848} /*深红色*/
/*mini商城颜色*/
/*mini商城背景颜色*/
.color_bmini{background: #ff776f !important;}
.color_b8{background: #f5f6f8;}
.color_b9{background: #faf4ea;}
.color_b10{background: #fbfcfc;}
/*mini商城背景颜色*/
/*背景颜色按钮*/
.btn_bgcolor1{
	background-color:#df8e8b;
	padding:8px 12px;
	display:inline-block;
}

/*edit by Anqi*/
/*单行省略号*/
.text-ellipsis{ overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}