/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{
	margin:0;
	padding:0;
	}
	
table{
	border-collapse:collapse;
	border-spacing:0;
	}
	fieldset,img{
		border:0;
	}
	address,caption,cite,code,dfn,em,strong,th,var{
		font-style:normal;
		font-weight:normal;
	}
	ol,ul{
		list-style:none;
	}
	caption,th{
		text-align:left;
	}
	h1,h2,h3,h4,h5,h6{
		font-size:100%;
		font-family:"Microsoft YaHei";
		font-weight:normal;
	}
	q:before,q:after{
		content:'';
	}
	abbr,acronym{
		border:0;
	}
	/* link color */
a:link,a:visited{color:#000; text-decoration:none;}
a:hover,a:active{color:#333; text-decoration:underline;}

.position{ width:1200px; height:40px; line-height:40px; font-size:12px; margin:0 auto; overflow:hidden;}
	/*文字排版*/
	.f12{font-size:12px;}
	.f14{font-size:14px;}
	.f16{font-size:16px;}
	.f18{font-size:18px;}
	.f20{font-size:20px;}
	.f22{font-size:22px;}
	.f24{font-size:24px;}
	.fb{font-weight:bold;}
	.fn{font-weight:normal;}
	.t1{text-indent:1em;}
	.t2{text-indent:2em;}
	.lh150{line-height:150%;}
	.lh180{line-height:180%;}
	.lh200{line-height:200%;}
	.unl{text-decoration:underline;}
	.no_unl{text-decoration:none;}
	/*行高 start*/
	.lh16{line-height:16px;}
	.lh18{line-height:18px;}
	.lh20{line-height:20px;}
	.lh22{line-height:22px;}
	.lh24{line-height:24px;}
	.lh26{line-height:26px;}
	.lh28{line-height:28px;}
	.lh30{line-height:30px;}
	.lh32{line-height:32px;}	
	.lh40{line-height:40px;}	/* seaway */							
	/*行高 end*/
	/*字体和行高*/
	.f14-2em{font-size:14px; line-height:2em;}
	.f16-2em{font-size:16px; line-height:2em;}
	.f18-2em{font-size:18px; line-height:2em;}
	.f20-2em{font-size:20px; line-height:2em;}
	/*定位 start*/
	.tl{text-align:left;}
	.tc{text-align:center;}
	.tr{text-align:right;}
	.bc{margin-left:auto;margin-right:auto;}
	.fl{float:left;display:inline;}
	.fr{float:right;display:inline;}
	.vm{vertical-align:middle;}/*解决IE7及更早浏览器下当li中出现2个或以上的浮动时，li之间产生的空白间隙的BUG,还可以加top | middle | bottom ,或者图片需要居中，注意配合display使用*/
	.pr{position:relative;}
	.pa{position:absolute;}
	.abs-right{
	position: absolute;
	right:0;
}
	.zoom{zoom:1;}/*解决IE6及更早浏览器下当li内部元素是定义了display:block的内联元素时底部产生空白的问题*/
	.hide{visibility:hidden;}
	.none{display:none;}
	/*清除浮动*/
	.cb{clear:both;}
	.cl{clear:left;}
	.cr{clear:right;}
	.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
	.clearfix{display:inline-block;}
	*html .clearfix{height:1%;}
	.clearfix{display:block;}	
	/*定位 end*/
	
	/*长度 start*/
	.w10{width:10px;}
	.w20{width:20px;}
	.w30{width:30px;}
	.w40{width:40px;}
	.w50{width:50px;}
	.w60{width:60px;}
	.w70{width:70px;}
	.w80{width:80px;}
	.w90{width:90px;}
	.w100{width:100px;}
	.w200{width:200px;}
	.w250{width:250px;}
	.w300{width:300px;}
	.w400{width:400px;}
	.w500{width:500px;}
	.w600{width:600px;}
	.w700{width:700px;}
	.w800{width:800px;}
	.w900{width:900px;}
	.w990{width:990px;}
	.w1000{width:1000px;}
	.w1100{width:1100px;}
	.w1200{width:1200px;}
	.w1210{width:1210px;}
	.w1600{width:1600px;}	/* seaway */
	.w{width:100%;}
	.w-im{width:100% !important;}
	/*长度 end*/
	/*高度 start*/
	.h10{height:10px;}
	.h20{height:20px;}
	.h30{height:30px;}
	.h40{height:40px;}
	.h50{height:50px;}
	.h80{height:80px;}
	.h100{height:100px;}
	.h200{height:200px;}
	.h{height:100%;}
	/*高度 end*/
	
	/*外边距遵循上右下左的顺序 start*/
		/*四个方向*/
	.m10{margin:10px;}
	.m15{margin:15px;}
	.m20{margin:20px;}
	.m25{margin:25px;}
	.m30{margin:30px;}
	/*强制性重置样式 建议用在独立层——子层、孙子层避免冲突*/
	.im-m10{margin:5px 10px !important;}
	.im-m1015{margin:10px 15px !important;}
	.im-m1520{margin:15px 20px !important;}
	.im-m2025{margin:20px 25px !important;}
	.im-m2530{margin:25px 30px !important;}

	.im-m1020{margin:10px 20px !important;}
	.im-m1530{margin:15px 30px !important;}
	.im-m2040{margin:20px 40px !important;}
	.im-m2550{margin:25px 50px !important;}
	.im-m515{margin:5px 15px !important;}
	.im-m1030{margin:10px 30px !important;}
	.im-m1545{margin:15px 45px !important;}
	.im-m2060{margin:20px 60px !important;}
	.im-m2575{margin:25px 75px !important;}
	
	.im-mb10{margin-bottom:10px !important;}
	.im-mb15{margin-bottom:15px !important;}
	.im-mb20{margin-bottom:20px !important;}
	.im-mb25{margin-bottom:25px !important;}
	.im-mb30{margin-bottom:30px !important;}
	.im-mb40{margin-bottom:40px !important;}
	/*top 上*/
	.mt10{margin-top:10px;}
	.mt15{margin-top:15px;}
	.mt20{margin-top:20px;}
	.mt25{margin-top:25px;}
	.mt30{margin-top:30px;}
	.mt50{margin-top:50px;}
	.mt100{margin-top:100px;}
		/*right 右*/
	.mr10{margin-right:10px;}
	.mr15{margin-right:15px;}
	.mr20{margin-right:20px;}
	.mr25{margin-right:25px;}
	.mr30{margin-right:30px;}
	.mr50{margin-right:50px;}
	.mr100{margin-right:100px;}
		/*bottom 下*/
	.mb10{margin-bottom:10px;}
	.mb15{margin-bottom:15px;}
	.mb20{margin-bottom:20px;}
	.mb25{margin-bottom:25px;}
	.mb30{margin-bottom:30px;}
	.mb50{margin-bottom:50px;}
	.mb100{margin-bottom:100px;}
		/*left 左*/
	.ml10{margin-left:10px;}
	.ml15{margin-left:15px;}
	.ml20{margin-left:20px;}
	.ml25{margin-left:25px;}
	.ml30{margin-left:30px;}
	.ml50{margin-left:50px;}
	.ml100{margin-left:100px;}
		/*外边距 上右*/
	.m-tr10{margin-top:10px;margin-right:10px;}
	.m-tr15{margin-top:15px;margin-right:15px;}	
	.m-tr20{margin-top:20px;margin-right:20px;}	
	.m-tr25{margin-top:25px;margin-right:25px;}
	.m-tr30{margin-top:30px;margin-right:30px;}	
		/*外边距 上下*/	
	.m-tb10{margin-top:10px;margin-bottom:10px;}
	.m-tb15{margin-top:15px;margin-bottom:15px;}	
	.m-tb20{margin-top:20px;margin-bottom:20px;}	
	.m-tb25{margin-top:25px;margin-bottom:25px;}	
	.m-tb30{margin-top:30px;margin-bottom:30px;}
	/*外边距 上左*/	
	.m-tl10{margin-top:10px;margin-left:10px;}
	.m-tl15{margin-top:15px;margin-left:15px;}	
	.m-tl20{margin-top:20px;margin-left:20px;}	
	.m-tl25{margin-top:25px;margin-left:25px;}	
	.m-tl30{margin-top:30px;margin-left:30px;}	
	/*外边距  右下*/
	.m-rb10{margin-bottom:10px;	margin-right:10px;}
	.m-rb15{margin-bottom:15px;margin-right:15px;}	
	.m-rb20{margin-bottom:20px;margin-right:20px;}	
	.m-rb25{margin-bottom:25px;margin-right:25px;}
	.m-rb30{margin-bottom:30px;margin-right:30px;}	
	
	/*外边距 右左*/	
	.m-rl10{margin-right:10px;margin-left:10px;}
	.m-rl15{margin-right:15px;margin-left:15px;}	
	.m-rl20{margin-right:20px;margin-left:20px;}	
	.m-rl25{margin-right:25px;margin-left:25px;}	
	.m-rl30{margin-right:30px;margin-left:30px;}				
	/*外边距 end*/
	
	
	/*内填充遵循上右下左的顺序 start*/
		/*四个方向*/
	.p10{padding:10px;}
	.p15{padding:15px;}
	.p20{padding:20px;}
	.p25{padding:25px;}
	.p30{padding:30px;}
	/*强制性重置样式 建议用在独立层——子层、孙子层避免冲突*/
	.im-p510{padding:5px 10px !important;}
	.im-p1015{padding:10px 15px !important;}
	.im-p1520{padding:15px 20px !important;}
	.im-p2025{padding:20px 25px !important;}
	.im-p2530{padding:25px 30px !important;}

	.im-p1020{padding:10px 20px !important;}
	.im-p1530{padding:15px 30px !important;}
	.im-p2040{padding:20px 40px !important;}
	.im-p2550{padding:25px 50px !important;}
	.im-p515{padding:5px 15px !important;}
	.im-p1030{padding:10px 30px !important;}
	.im-p1545{padding:15px 45px !important;}
	.im-p2060{padding:20px 60px !important;}
	.im-p2575{padding:25px 75px !important;}
	/*top 上*/
	.pt10{padding-top:10px;}
	.pt15{padding-top:15px;}
	.pt20{padding-top:20px;}
	.pt25{padding-top:25px;}
	.pt30{padding-top:30px;}
	.pt50{padding-top:50px;}
	.pt100{padding-top:100px;}
		/*right 右*/
	.pr10{padding-right:10px;}
	.pr15{padding-right:15px;}
	.pr20{padding-right:20px;}
	.pr25{padding-right:25px;}
	.pr30{padding-right:30px;}
	.pr50{padding-right:50px;}
	.pr100{padding-right:100px;}
		/*bottom 下*/
	.pb10{padding-bottom:10px;}
	.pb15{padding-bottom:15px;}
	.pb20{padding-bottom:20px;}
	.pb25{padding-bottom:25px;}
	.pb30{padding-bottom:30px;}
	.pb50{padding-bottom:50px;}
	.pb100{padding-bottom:100px;}
		/*left 左*/
	.pl10{padding-left:10px;}
	.pl15{padding-left:15px;}
	.pl20{padding-left:20px;}
	.pl25{padding-left:25px;}
	.pl30{padding-left:30px;}
	.pl50{padding-left:50px;}
	.pl100{padding-left:100px;}
	
	
	/*内填充 上右*/
	.p-tr10{padding-top:10px;padding-right:10px;}
	.p-tr15{padding-top:15px;padding-right:15px;}	
	.p-tr20{padding-top:20px;padding-right:20px;}	
	.p-tr25{padding-top:25px;padding-right:25px;}
	.p-tr30{padding-top:30px;padding-right:30px;}	
		/*内填充 上下*/	
	.p-tb10{padding-top:10px;padding-bottom:10px;}
	.p-tb15{padding-top:15px;padding-bottom:15px;}	
	.p-tb20{padding-top:20px;padding-bottom:20px;}	
	.p-tb25{padding-top:25px;padding-bottom:25px;}	
	.p-tb30{padding-top:30px;padding-bottom:30px;}
	/*内填充 上左*/	
	.p-tl10{padding-top:10px;padding-left:10px;}
	.p-tl15{padding-top:15px;padding-left:15px;}	
	.p-tl20{padding-top:20px;padding-left:20px;}	
	.p-tl25{padding-top:25px;padding-left:25px;}	
	.p-tl30{padding-top:30px;padding-left:30px;}	
	/*内填充  右下*/
	.p-rb10{padding-bottom:10px;padding-right:10px;}
	.p-rb15{padding-bottom:15px;padding-right:15px;}	
	.p-rb20{padding-bottom:20px;padding-right:20px;}	
	.p-rb25{padding-bottom:25px;padding-right:25px;}
	.p-rb30{padding-bottom:30px;padding-right:30px;}	
	
	/*内填充 右左*/	
	.p-rl10{padding-right:10px;padding-left:10px;}
	.p-rl15{padding-right:15px;padding-left:15px;}	
	.p-rl20{padding-right:20px;padding-left:20px;}	
	.p-rl25{padding-right:25px;padding-left:25px;}	
	.p-rl30{padding-right:30px;padding-left:30px;}	
/*内填充 end*/
/*边框 方向-类型-大小 start*/
	.bd-solid1{border-width:1px;border-style:solid;}
	.bd-solid2{border-width:2px;border-style:solid;}
	.bd-dashed1{border-width:1px;border-style:dashed;}
	.bd-dashed2{border-width:2px;border-style:dashed;}
	/*top*/
	.bd-top-solid1{ border-width:1px 0 0 0; border-style:solid;}
	.bd-top-dashed1{ border-width:1px 0 0 0; border-style:dashed;}
	.bd-top-solid2{ border-width:2px 0 0 0; border-style:solid;}
	.bd-top-dashed2{ border-width:2px 0 0 0; border-style:dashed;}
	/*right*/
	.bd-right-solid1{ border-width:0 1px 0 0; border-style:solid;}
	.bd-right-dashed1{ border-width:0 1px 0 0; border-style:dashed;}
	.bd-right-solid2{ border-width:0 2px 0 0; border-style:solid;}
	.bd-right-dashed2{ border-width:0 2px 0 0; border-style:dashed;}
	/*bottom*/
	.bd-bottom-solid1{ border-width:0 0 1px 0; border-style:solid;}
	.bd-bottom-dashed1{ border-width:0 0 1px 0; border-style:dashed;}
	.bd-bottom-solid2{ border-width:0 0 2px 0; border-style:solid;}
	.bd-bottom-dashed2{ border-width:0 0 2px 0; border-style:dashed;}
	/*颜色*/
	.bd-color-ccc{ border-color:#ccc;} 
	.color-666{ color:#666;}
	.color-999{ color:#999;}	/* seaway */
/*边框 end*/
/*按钮 start*/
	
	.btn-button{position:relative; cursor:pointer; display:inline-block; }
	.btn-button{
		background-color: #484848;
    background-repeat: no-repeat;
    padding: 5px 14px 6px;
    color: #fff;
		font:normal 12px/16px "Microsoft YaHei";
    
		border-radius:4px;
    height: auto;
    text-decoration: none !important;
    text-align: center;
    overflow: visible;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    width: auto;
		
	}
	.btn-button:hover{text-decoration:none;}
	*html .btn-button:hover{text-decoration:none;background-position:0 0;}
	.btn-disabled{ cursor:default !important;}
	
	
	.btn-red{
		background-color:#8a181d;
		background-repeat:repeat-x;}	
		
	.btn-blue{
		background-color:#2d5ba4;
		background-repeat:repeat-x;}
	.btn-green{
		background-color:#567958;
		background-repeat:repeat-x;}		
	.btn-red{
		background-image: -khtml-gradient(linear, left top, left bottom, from(#ff0a47), to(#a1181a));
    background-image: -moz-linear-gradient(top, #ff0a47, #a1181a);
    background-image: -ms-linear-gradient(top,  #ff0a47, #a1181a);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff0a47), color-stop(100%, #a1181a));
    background-image: -webkit-linear-gradient(top,  #ff0a47, #a1181a);
    background-image: -o-linear-gradient(top,  #ff0a47, #a1181a);
    background-image: linear-gradient(top,  #ff0a47, #a1181a);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0a47', endColorstr='#a1181a', GradientType=0);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
		}
	.btn-blue{
		background-image: -khtml-gradient(linear, left top, left bottom, from(#3286fc), to(#2d5ba4));
    background-image: -moz-linear-gradient(top, #3286fc, #2d5ba4);
    background-image: -ms-linear-gradient(top, #3286fc, #2d5ba4);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3286fc), color-stop(100%, #2d5ba4));
    background-image: -webkit-linear-gradient(top, #3286fc, #2d5ba4);
    background-image: -o-linear-gradient(top, #3286fc, #2d5ba4);
    background-image: linear-gradient(top, #3286fc, #2d5ba4);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3286fc', endColorstr='#2d5ba4', GradientType=0);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
		}
	.btn-green{
		background-image: -khtml-gradient(linear, left top, left bottom, from(#7ed94b), to(#567958));
    background-image: -moz-linear-gradient(top, #7ed94b, #567958);
    background-image: -ms-linear-gradient(top, #7ed94b, #567958);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7ed94b), color-stop(100%, #567958));
    background-image: -webkit-linear-gradient(top, #7ed94b, #567958);
    background-image: -o-linear-gradient(top, #7ed94b, #567958);
    background-image: linear-gradient(top, #7ed94b, #567958);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7ed94b', endColorstr='#567958', GradientType=0);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
		}

	.btn-button:hover{
		background-image: -khtml-gradient(linear, left top, left bottom, from(#4d4f50), to(#191919));
    background-image: -moz-linear-gradient(top, #4d4f50, #191919);
    background-image: -ms-linear-gradient(top, #4d4f50, #191919);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4d4f50), color-stop(100%, #191919));
    background-image: -webkit-linear-gradient(top, #4d4f50, #191919);
    background-image: -o-linear-gradient(top, #4d4f50, #191919);
    background-image: linear-gradient(top, #4d4f50, #191919);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4d4f50', endColorstr='#191919', GradientType=0);
		}
	.btn-red:hover{
		
		background-image: -khtml-gradient(linear, left top, left bottom, from(#c90032), to(#6c0003));
    background-image: -moz-linear-gradient(top, #c90032, #6c0003);
    background-image: -ms-linear-gradient(top,  #c90032, #6c0003);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c90032), color-stop(100%, #6c0003));
    background-image: -webkit-linear-gradient(top,  #c90032, #a1181a);
    background-image: -o-linear-gradient(top,  #c90032, #a1181a);
    background-image: linear-gradient(top,  #c90032, #a1181a);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c90032', endColorstr='#6c0003', GradientType=0);
		}
	.btn-blue:hover{
		background-image: -khtml-gradient(linear, left top, left bottom, from(#3170c9), to(#163a71));
    background-image: -moz-linear-gradient(top, #3170c9, #163a71);
    background-image: -ms-linear-gradient(top, #3170c9, #163a71);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3170c9), color-stop(100%, #163a71));
    background-image: -webkit-linear-gradient(top, #3170c9, #163a71);
    background-image: -o-linear-gradient(top, #3170c9, #163a71);
    background-image: linear-gradient(top, #3170c9, #163a71);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3170c9', endColorstr='#163a71', GradientType=0);
		}
	.btn-green:hover{
		background-image: -khtml-gradient(linear, left top, left bottom, from(#69ae41), to(#334d36));
    background-image: -moz-linear-gradient(top, #69ae41, #334d36);
    background-image: -ms-linear-gradient(top, #69ae41, #334d36);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #69ae41), color-stop(100%, #334d36));
    background-image: -webkit-linear-gradient(top, #69ae41, #334d36);
    background-image: -o-linear-gradient(top, #69ae41, #334d36);
    background-image: linear-gradient(top, #69ae41, #334d36);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#69ae41', endColorstr='#334d36', GradientType=0);
		}
	
	
	
.btn-button.btn-disabled, .btn-button.btn-disabled:active, .btn-button[disabled], .btn-button[disabled]:active {
    background-image: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    filter: alpha(opacity=75);
    -khtml-opacity: 0.75;
    -moz-opacity: 0.75;
    opacity: 0.75;
}	
.btn-button.btn-disabled, .btn-button.btn-disabled:active {
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}	
/*建议 方向写成行内样式 或者利用容器重新设置*/
.btn-ableft{
	position:absolute;
	left:10%;
	}
.btn-abright{
	position:absolute;
	right:10%;
	}	
/*按钮 end*/		

/*单行溢出省略号*/
.t-el{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}

div.disinb{display:inline-block!important;}

	
