<div>
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div style="width:100%;min-width:1200px;max-width:1300px;margin:8px;"> 
			<div class="btn-group">
				<div class="btn-group" ng-repeat="menu in menuList">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{menu.html}}
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li ng-repeat="m in menu.children"><a href="{{m.href}}">{{m.html}}</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<!--  固定模块  -->
		<div class="clr">
			<div class="f-l w-30pc mgr-3pc">
				<div jxcselectdrt="jxcselectdrt" name="商品大类(必填)"></div>
				<div jxcselectdrt="jxcselectdrt" name="商品名称(必填)"></div>
				<div jxcselectdrt="jxcselectdrt" name="规格(型号颜色)"></div>
				<div jxcselectdrt="jxcselectdrt" name="商品编码(必填)"></div>
			</div>
			<div class="f-l w-30pc mgr-3pc">
				<div jxctextdrt="jxctextdrt" name="进货数量"></div>
				<div jxctextdrt="jxctextdrt" name="进货单价"></div>
				<div jxctextdrt="jxctextdrt" name="合计(总金额)"></div>
				<div jxctextdrt="jxctextdrt" name="已付金额"></div>
				<div jxctextdrt="jxctextdrt" name="欠款金额"></div>
			</div>
			<div class="f-l w-30pc mgr-3pc">
				<div jxcselectdrt="jxcselectdrt" name="供货商"></div>
				<div jxcdatedrt="jxcdatedrt" name="进货日期"></div>
				<div jxcselectdrt="jxcselectdrt" name="进货人"></div>
				<div jxctextareadrt="jxctextareadrt" rows="3" cols="20" name="备注"></div>
			</div>
		</div>
		<div>
			<div class="btn-group">
				<input type="button" class="btn btn-default" value="增加" />
				<input type="button" class="btn btn-default" value="删除" />
				<input type="button" class="btn btn-default" value="修改" />
				<input type="button" class="btn btn-default" value="查询" />
			</div>
			<div class="btn-group">
				<input type="button" class="btn btn-default" value="全部记录" />
				<input type="button" class="btn btn-default" value="还供货商款" />
				<input type="button" class="btn btn-default" value="导入/出" />
				<input type="button" class="btn btn-default" value="打印" />
				<input type="button" class="btn btn-default" value="设计报表" />
			</div>
		</div>
		<div>
			<table class="table table-striped table-hover"> 
				<thead>
					<tr>
						<th>#</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Username</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="i in [1,2,3,4,5,6,7,8,9]">
						<td>{{i}}</td>
						<td>Mark</td>
						<td>Otto</td>
						<td>@mdo</td>
					</tr>
				</tbody> 
			</table>
		</div>
		<!--  固定模块  -->
		
		<!--  页面总体框架  -->
		
		<!--  /页面总体框架  -->
		<!--  banner  -->
		
		<!--  /banner  -->
		<!--  模块1  -->
		
		<!--  /模块1  --> 
	</div>
	<div class="hide"> 
		
	</div>			
 
	<!--  Html模态窗  -->
	
	<!--  /Html模态窗  -->
 
	<!--  Config模态窗  -->
	
	<!--  /Config模态窗  -->
	
	<!--  Image模态窗  -->
	
	<!--  /Image模态窗  -->
	
</div>