<div class="g-doc">
	<div class="g-hd">
		<div class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div style="width:100%;min-width:600px;max-width:1300px;margin:0px auto;"> 
				<div class="btn-group" style="float:left;margin-top:8px;">
					<input type="button" class="btn btn-default" ng-click="about = 'all';" value="全部" />
					<input type="button" class="btn btn-default" ng-click="about = 'color';" value="关于颜色" />
					<input type="button" class="btn btn-default" ng-click="about = 'font';" value="关于字体" />
					<input type="button" class="btn btn-default" ng-click="about = 'border';" value="关于边框" />
					<input type="button" class="btn btn-default" ng-click="about = 'other';" value="其他" />
				</div>
				<div class="btn-group" style="float:left;margin-top:8px;margin-left:15px;"> 
					<input type="button" class="btn btn-default" ui-sref="navigator" ng-if="true" value="返回导航页" /> 
				</div>
				<div class="btn-group pull-right" style="float:right;margin-top:8px;">
				  <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modalStyle">编辑样式</button>
				  <button type="button" class="btn btn-default" id="btnOpenStyleFile">打开样式文件</button> 
				</div>
			</div>
		</div> 
		<!-- 按钮【插入样式】的弹出Modal -->
		<div class="modal fade" id="modalStyle" tabindex="-1" role="dialog" aria-labelledby="modalStyleTitle" aria-hidden="true">
		  <div class="modal-dialog">
			<div class="modal-content">
			  <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h5 class="modal-title" id="modalStyleTitle">请在下面输入框粘贴样式</h5>
			  </div>
			  <div class="modal-body">
				<textarea class="form-control" ng-model="code" rows="20" cols="20" style="min-width:520px;min-height:260px;"></textarea>
			  </div>
			  <div class="modal-footer">
				<button type="button" class="btn btn-default" style="float:left;" ng-click="code = '';">清空</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="translate();">提交</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
			  </div>
			</div>
		  </div>
		</div> 
	</div>
	<div class="g-bd" style="margin-top:70px;margin-bottom:30px;">
		<div class="g-mn"> 
			<!--<upload selector="#btnOpenStyleFile" url="Upload/Css/" callback="translate(data,url)"></upload> -->
			<div upload="upload" selector="#btnOpenStyleFile" folder="Upload/Css/" callback="translate(data,url)"></div> 
			<!--  样式表  -->
			<center>
				<table id="tbStyle">
					<thead>
						<tr><th style="width:40px;">序号</th><th style="width:300px;">样式名</th><th style="width:300px;">样式值</th><th style="width:300px;">样例</th><th style="width:200px;">备注</th></tr>
					</thead>
					<tbody>
						<tr ng-repeat="style in styleList" ng-if="style.about.split(about).length > 1">
							<td ng-bind="style.index" style="text-align:center;"></td>
							<td><p ng-bind="style.name"></p></td>
							<td><p ng-bind="style.value"></p></td>
							<td><span class="demo" style="{{style.style}}">测试文字123</span></td>
							<td><i class="iColorBlock" ng-repeat="color in style.colorList track by $index" style="background-color:{{color}}" title="{{color}}"></i><span class="color-008000" ng-bind="style.comment"></span></td>
						</tr>
					</tbody>
				</table>
			</center>
			<div id="file"></div>
		</div>
		<div class="g-sd">
			
		</div>
	</div>
	<div class="g-ft"></div>
	<div class="hide">
		<style type="text/css">
		<!--  
			#tbStyle tr th {
				text-align:center;
			}
			#tbStyle tr td,th {
				border:1px solid #CCC;
				padding:5px;
				overflow:hidden; 	
			}
			#tbStyle tbody tr:nth-child(odd){
				background-color:#eee;
			}
			#tbStyle tbody tr:nth-child(even){
				background-color:#fff;
			}
			p{
				width:300px;
				word-wrap:break-word;
				overflow:hidden;
				text-align:center;
			}
			.iColorBlock{
				width:25px;
				height:25px;
				margin-right:5px;
				display:inline-block;
				border:1px solid #ccc;
			}
			.demo{
				top:0!important;
				right:0!important;
				bottom:0!important;
				left:0!important;
				position: relative!important;
				background-image: none!important;
				max-width:300px!important;
				max-height:120px!important;
			}
			.demo_bak{
				margin:0 !important;
				padding:0 !important;
				border: 0 !important;
				outline: 0 !important;
				font-size:100% !important;
				top:0 !important;
				right:0 !important;
				bottom:0 !important;
				left:0 !important;
				position: relative !important;
			}
			.color-008000{
				color:#008000;
			}
		-->
		</style> 
	</div>
</div>